<!DOCTYPE html>
<html>
<head>
  <title>Help Out</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="static/layout.css" rel="stylesheet" type="text/css" media="all">
  <style>
      #map{
          height: 400px;
          width: 800px;
      }
  </style>
</head>
<body id="top">
<div class="wrapper row4">
    <nav id="mainav" class="hoc clear"> 
    <ul class="clear">
        <li><a href="homePage">Home</a></li>
        <li class="active">Volunteer</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Opportunities</a></li>
    </ul>
    </nav>
</div>

<div class="wrapper row3">
  <main class="hoc container clear"> 
    <div class="volunteertitle">
        <h3 class="heading">User Profile</h6>
        <p>Choose from requests in your local area</p>
    </div>
    <ul class="requestbox">
        <div class="request">
          <script>
          </script>
          <article>
            <h6 class="heading">{{name}}</h6>
            <p>Contact: {{contact}}</p>
            <p>Completed: {{number}}</p>
            <p>Badges: {{badges}}</p>
          </article>
          </div>
      </ul>
  </main>
</div>

<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <p class="fl_left">2020. TBA Co.</p>
    <p class="fl_right">Made for the 2020 CSE Hackathon.</p>
  </div>
</body>
</html>